* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: #f8f9fa;
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.main {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: fit-content;
}

.actions {
  display: flex;
  gap: 25px;
}

.main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #90e0ef;
}

#navText {
  cursor: pointer;
  margin: auto;
  font-size: 40px;
}

.countryData {
  padding: 20px;
  gap: 25px;
  height: fit-content;
  font-size: 20px;
}

.countryData img {
  max-width: 250px;
  width: 100%;
}
